[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "cppzmq"]
	path = cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "cpp-stateless"]
	path = cpp-stateless
	url = https://github.com/mattmason/cpp-stateless.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "range-v3"]
	path = range-v3
	url = https://github.com/ericniebler/range-v3.git
